@font-face {
  font-family: aileron;
  src: url(/css/font/Aileron-BlackItalic.otf);
}
@font-face {
  font-family: cornerstone;
  src: url(/css/font/Cornerstone.ttf);
}
.flex {display:flex;}
.flex-vcenter {align-items:center;}
.flex-vtop {align-items:flex-start;}
.flex-hcenter {justify-content:center;}
.text-vmid { vertical-align: middle;}

header {
  background:#393;
  border-bottom: 1px solid #C70;
  #appname a {
    text-decoration:none; color: #FFF;
    span {
      font-style: italic;
      &:first-child {font-size: 48px; display: block; margin: 15px 0 -15px 0;}
      &:nth-child(2){font-size: 24px;}
    }
  }
  #buttons {text-align:right;
    &>div{margin-top: 10px;}
    .dropdown {display: inline-block;}
  }
}

@media (min-width:768px) {
  .navbar.yamm {min-height: 40px; height: 40px;}
  .navbar-nav {
    width: 100%; text-align: center;
    > li { float: none; display: inline-block; > a {padding:9px 15px;}}
  }
}
main { min-height: 450px;}

footer {
  background:#B80; border-top: 2px solid #C70; color: #750;
  h3 {font-weight: bold; color:#FF5;}
  #copyright {font-family: cornerstone}
  ul { padding:0 0 0 15px; list-style: none; }
  a {text-decoration: none; color:#FFF; &:hover{color:#FF0; text-decoration: none;} }
}

@media (max-width:767px) {
  .flex {display:block;}
  header {
    #logo, #appname, #buttons {text-align:center;}
  }
}
@media (max-width:480px) {
  header #appname a {text-align: center;}
  header #appname a span{
    &:first-child {font-size: 32px; margin: 0;}
    &:nth-child(2){font-size: 16px;}
  }
}


#init {display:none;}
