<ul class="pagination pagination-sm">
    <li ng-class="{active: currentPage === 1}"><a href="#" ng-click="public.changePage(1)">1</a></li>

    <li ng-repeat="p in pageLinks" ng-class="{active: currentPage === p}"><a href="#" ng-click="public.changePage(p)">{{p}}</a></li>

    <li ng-class="{active: currentPage === totalPage}"><a href="#" ng-click="public.changePage(totalPage)" ng-show="totalPage > 1">{{totalPage}}</a></li>
    <li><a>{{startRecord()}}-{{endRecord()}} of {{public.totalItems}}</a></li>
    <li><input type="text" ng-model="public.currentPageInput" size="1" style="text-align:center;"/></li>
    <li><select ng-options="a for a in itemsPerPageOptions" ng-model="public.itemsPerPageInput" style="height:26px;"></select></li>
    <li><button class="btn btn-xs btn-default" ng-click="public.changePage(currentPageInput)"><span class="glyphicon glyphicon-play"></span></button></li>

    <li style="margin-left: 10px;">
      <button class="btn btn-sm btn-default" type="button" data-toggle="collapse" data-target="#searchPanel">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </li>
</ul>
<!-- item per page, current page, search -->
<div id="searchPanel" class="collapse">
  <div class="well">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2">Filter By</label>
        <div class="col-sm-10">
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Filter <span class="caret"></span>
            </button>
            <ul class="dropdown-menu scrollable-menu">
              <li ng-repeat="a in public.filterOptions"><a ng-click="addFilter(a, $event);">{{a.text}}</a></li>
            </ul>
          </div>
          <span class="help-block">
            <div ng-repeat="f in public.filterBy" class="form-inline">
              <label class="control-label" style="width:90px;">{{f.text}}</label>
              <div class="input-group">
                <input type="text" class="form-control" ng-model="f.query" size="5"/>
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-click="removeFilter(f)">x</button>
                </span>
              </div>
            </div>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Sort By</label>
        <div class="col-sm-10">
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Sort <span class="caret"></span>
            </button>
            <ul class="dropdown-menu scrollable-menu">
              <li ng-repeat="a in public.orderOptions"><a ng-click="addSort(a)">{{a.text}}</a></li>
            </ul>
          </div>
          <span class="help-block">
            <div ng-repeat="s in public.orderBy" class="form-inline">
              <label class="control-label" style="width:90px;">{{s.text}}</label>
              <button class="btn btn-default btn-xs" ng-click="reverseSort(s)"><span class="glyphicon" ng-class="{'glyphicon-arrow-up': s.dir==='DESC', 'glyphicon-arrow-down': s.dir==='ASC'}"></span></button>
              <button class="btn btn-default btn-xs" ng-click="removeSort(s)">x</button>
            </div>
          </span>
        </div>
      </div>
      <button class="btn btn-default" ng-click="newSearch()"><span class="glyphicon glyphicon-search"></span> Search</button>
    </div>
  </div>
</div>
